<launch>
  <rosparam ns="/robot_param/base/wheels">
    name:                   [  'FR','FL','BL','BR']

    gain_P:                 600.0
    gain_I:                 0.0
    gain_D:                 0.0

    joint_encoder_res:      10000  
    joint_encoder_offset:   2147483.648

    mosfet_config:          [3,3,3,3]
    motor_direction:        [1,-1,-1,1]

    cur_max:                3000 
    cur_min:                -3000 

    vel_max:              10.0   
    vel_min:              -10.0 
    
    active:                 true

    torque:                 [true,true,true,true]    

    LED:                    1

    port:                    [18005, 9000]
    
  </rosparam>

</launch>
