<launch>
    <node name="hokuyo0" pkg="hokuyo_node" type="hokuyo_node">
        <param name="port" type="string" value="/dev/ttyACM0" />
        <param name="frame_id" type="string" value="laser_FR" />        
        <remap from="scan" to="scan0" />        
    </node>
    <node name="hokuyo1" pkg="hokuyo_node" type="hokuyo_node">
        <param name="port" type="string" value="/dev/ttyACM1" />
        <param name="frame_id" type="string" value="laser_BR" />       
        <remap from="scan" to="scan1" />
        
    </node>
    
     <node pkg="tf" type="static_transform_publisher" name="laser_trans0" args=" 0.40  0.28 0.19 3.92699 3.14159 0 /base /laser_FR 20" />
     <node pkg="tf" type="static_transform_publisher" name="laser_trans1" args="-0.40 -0.28 0.19 0.7845 3.14159 0 /base /laser_BR 20" />
</launch>
